<div class="header">
  <h2>Bookings</h2>
  <a routerLink="/create" class="btn-primary">
    Create Booking
  </a>
</div>

<ng-container *ngIf="(bookings$ | async) as bookings; else loading">
  <ng-container *ngIf="bookings.length; else empty">
    <booking-app-booking-item *ngFor="let booking of bookings" [booking]="booking"></booking-app-booking-item>
  </ng-container>

  <ng-template #empty>
    <p>
      There are no bookings
    </p>
  </ng-template>
</ng-container>

<ng-template #loading>
  <p>
    Loading...
  </p>
</ng-template>

